.mb-list-entry-fields li{
	margin-bottom:15px;
	clear:both;
	overflow:hidden;
}

.mb-right-column{	
	overflow:hidden;
}

.field-label{
	width:190px;
	float:left;
	min-height:30px;
	font-weight:bold;
	padding-right:10px;
}

.field-label.error{
	color:#ff0000;
}

.field-label .required{
	color:#ff0000;
	padding:0 2px;
}

.mb-right-column label{
	padding:0 6px 0 3px;
}

#mb-ajax-loading{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(images/ajax-loader.gif) center center no-repeat;	z-index:999;
}

.mb-table-container pre{
	display:inline-block;
	vertical-align:top;
	margin:0;
	white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.wck-edit, .wck-delete, .wck-number{
	width:50px;
	text-align:center !important;
}

td.wck-number{
	cursor:move;
}

.not-sortable td.wck-number{
	cursor:auto;
}

.wck-edit .button-secondary{
	padding:3px 15px;
}

.mbdelete{
	color:#BC0B0B;
}

.mbdelete:hover{
	color:#FF0000;
}

.mb-list-entry-fields{
	list-style:none;
}

.mb-table-container tr:nth-child(2n+1) {
    background-color:#FCFCFC;
}

.mb-table-container tr:last-child td {
    border-bottom: 0 none;
}

.mb-table-container tr  td {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    padding: 8px;
    position: relative;
}

.mb-table-container tr td:last-child {
    border-right: 0 none;
}

.mb-table-container thead > tr > th {
    border-right: 1px solid #E1E1E1;
}

.mb-table-container tr > th:last-child {
    border-right: 0 none;
}

.mb-textarea{
	width:60%;
	max-width:600px;
	height:130px;
}
.mb-text-input{
	width:40%;
	max-width:400px;
}

.mb-select{
	min-width:150px;
}

/* Settings page. */
.side .form-table th {
	width: 20%;
	font-weight: bold;
	text-align: left;
	padding-left: 0;
}

.wck-post-body{
	clear: left;
    float: left;
    margin-right: -2000px;
    width: 100%;	
}

.metabox-holder .column-1 {	
	margin-right:300px;	
}
.metabox-holder .column-2 {
	float: right;
	width: 280px;
	clear:right;
	position:relative;
}
.metabox-holder .column-3 {
	clear: both;	
	margin-right:300px;
}